# .gitignore
# Fichiers sensibles
secrets.yaml
*.db
*.bak
*.swp
*.log
*.log.1

# Bases de données Home Assistant
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant_v2_backup.db
zigbee2mqtt/configuration_backup_v*.yaml

# Logs
OZW_*.log
home-assistant.log
home-assistant.log.1
home-assistant.log.fault

# Fichiers temporaires
*.tmp
.DS_Store
.cloud/
.storage/
